
    .gradient-custom {
    /* fallback for old browsers */
    background: #11cb74;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(125, 126, 128), rgb(204, 207, 212));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #b5b1b8, rgb(13, 236, 236))
    
    }

    body{
      .container-fluid {
          text-align: right;
          text-indent: 25px;
      
         
        } 
        .center {
          margin: auto;
          width: 60%;
          padding: 5px;
        }
       
        
        }
        
      
      
     
        
        
      
    