
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: "open sans";
  color: #000;
  font-size: 18px;
}
section{
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(Ocean-Background-Image.jpg);
  background-size: cover;
  background-position: center center;

}
.form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:linear-gradient(rgba(0,0,0,0,3),rgba(0,0,0,0,3)) ;
  width: 380px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 60px #000;
}

h1{
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;

}
.control input{
  width: 100%;
  display:block;
  padding: 10px;
  color: #222;
  border: none;
  outline: none;
  margin: 1em 0;
  border-radius: 0.5rem;
}




*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}
body{
font-family: Arial;
}
nav{
background-color: rgb(90, 145, 166);
height: 70px;
width: 100%;
}

label.logo{
color: white;
font-size: 25px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
}
nav ul{
float: right;
margin-right:30px;

}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 12px;

}
nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
 
}


a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
  
}



    
      .table{
        white-space: nowrap;
        font-size: 0.85rem;
        line-height: 2rem;
        text-align: left;
       

      }
      .flex{
        display: flex;
      }
.justify-center{
  justify-content: center;
}
.input{
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-width: 1px;
  border-radius: var(--rounnded-btn,0.5rem);
}
.join {
  display: inline-flex;
  align-items: stretch;
  padding: auto;
  border-radius: var(--rounded-btn, 0.5rem);

}
.pt-8 {
  padding-top: 2rem;
}
.w-full {
  width: 100%;
}
.mt-8 {
 margin-top: 0rem; 
}


